/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}

.icon-2x {
    font-size: 25px !important;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;

    /* Neutral / Gray-2 */
    color: #4B4B4B;
}

.display-3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal !important;
    font-weight: bold !important;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    /* Neutral / Gray-2 */

    color: #4B4B4B;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    /* Neutral / Gray-2 */

    color: #4B4B4B;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    color: #4B4B4B;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 128px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #242424;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #242424;
}

#sidebar ul.components {
    padding: 0 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 30px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #FE5000 !important;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FE5000 !important;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 128px);
    /* padding: 40px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
.bottom-page{
    margin-top: 90px;
    bottom: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}

.center {
    overflow: hidden;
    margin: auto;
    width: 50%;
    padding: 10px;
}


/* *btns */
.btn-primary {
    color:
        #fff !important;
    background-color:
        #FE5000;
    border-color:
        #FE5000;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-style: normal;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d84d0c;
    border-color: #d84d0c;
}

.btn-secondary {
    color:
        #fff !important;
    background-color:
        #616161;
    border-color:
        #616161;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-style: normal;
}

.btn-sacondary:hover {
    background-color: #424242;
    border-color: #424242;
}

.btn-outline-secondary {
    color:
        #fff !important;
    background-color:
        transparent;
    border: 2px #616161 solid;
    border-color:
        #616161;
    font-family: 'Montserrat';
    font-style: normal;
}

.btnoutline-sacondary:hover {
    background-color: #424242;
    border-color: #424242;
}

/* *section contents */
#home {
    background-color: #313131;
    padding: 0px;
    height: 100vh;
}

#servicos {
    background-color: #413f3f;
    padding: 0px;
    height: 100vh;
}

#sobre {
    background-color: #2E2E2E;
    padding: 0px;
    height: 100vh;
}

#noticias {
    background-color: #504b4b;
    padding: 0px;
    height: 100vh;
}

#contato {
    background-color: #2E2E2E;
    padding: 0px;
    height: 100vh;
}

.text-orange {
    color: #FE5000 !important;
}

.text-start {
    text-align: start !important;
}

/* forms */

.form-control {
    border: 0px transparent;
    border-radius: 0;
    padding: 20px;
    color: #000;
}

label {
    position: relative;
    bottom: -30px;
    padding-left: 20px;
    color: #FE5000;
    font-weight: bold;
    font-size: 12px;
}

/* home */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider-fade {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 100vh;
    min-height: 350px;
    width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.slider-fade img {}

.home-content {
    position: absolute;
}

.home-texture {
    height: 290px;
    width: 30%;
    background-image: url('/assets_fronts/imgs/dots_texture.png');
    overflow-x: hidden;
}

.tl {
    top: 121px;
    left: 97px;
}

.tr {
    top: 0px;
    left: 60%;
}

.br {
    top: 65vh;
    left: 80%;
}

/* contato */
.small-dots {

    position: absolute;
    right: 0;
    width: 424px;
    height: 251px;
    margin-left: 40%;
    background-image: url('/assets_fronts/imgs/small_dots_texture.png');
    background-position: center;

}
