/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-noticias: unicode(ea02);
$icon-home: unicode(ea03);
$icon-servicos: unicode(ea04);
$icon-logo: unicode(ea05);
$icon-contato: unicode(ea06);
$icon-sobre: unicode(ea07);
$icon-sobre-lg: unicode(ea08);
$icon-contato-lg: unicode(ea09);
$icon-servicos-lg: unicode(ea0a);
$icon-home-lg: unicode(ea0b);
$icon-noticias-lg: unicode(ea0c);
$icon-instagram: unicode(ea0d);
$icon-facebook: unicode(ea0e);

.icon-noticias::before {
  content: $icon-noticias;
}

.icon-home::before {
  content: $icon-home;
}

.icon-servicos::before {
  content: $icon-servicos;
}

.icon-logo::before {
  content: $icon-logo;
}

.icon-contato::before {
  content: $icon-contato;
}

.icon-sobre::before {
  content: $icon-sobre;
}

.icon-sobre-lg::before {
  content: $icon-sobre-lg;
}

.icon-contato-lg::before {
  content: $icon-contato-lg;
}

.icon-servicos-lg::before {
  content: $icon-servicos-lg;
}

.icon-home-lg::before {
  content: $icon-home-lg;
}

.icon-noticias-lg::before {
  content: $icon-noticias-lg;
}

.icon-instagram::before {
  content: $icon-instagram;
}

.icon-facebook::before {
  content: $icon-facebook;
}

